﻿@{
    ViewBag.Title = "About";
}

<!-- Page Content -->
<section class="about" id="about">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            About
            <small>Mind U</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">About</li>
        </ol>
        <!-- Intro Content -->

        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Url.Content("~/Images/about/about_banner.jpg")" alt="About us">
            </div>
            <div class="col-lg-6">
                <h2>MindU Project</h2>
                <p>MindU is a project aiming at helping the people who are concerned about international students struggling with stress, anxiety and loneliness in Victoria.</p>
                <p>We provide arts, sports and mental health relevant information for you to help the international students and their friends to overcome mental health issues.</p>
                <p>Whether you are new to melbourne or a person who does not know how to help your international student friends, looking for a way out of negative moods, welcome to visit MindU to have a goodtime and give feedback for our project.</p>
            </div>
        </div>
</section>
<!-- /.row -->
<hr>
<!-- Team Members -->
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            Team Information
        </li>
    </ol>
    <div class="row">
        <div class="col-lg-3 col-sm-6 portfolio-item">
            <div class="card h-100">
                <div class="imagecontainer">
                    <img class="img" src="@Url.Content("~/Images/about/people1.jpg")" alt="team member1">
                </div>
                <div class="card-body">
                    <p class="card-text" style="text-align:center; font:bolder">     Jiang Wang</p>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-sm-6 portfolio-item">
            <div class="card h-100">
                <div class="imagecontainer">
                    <img class="img" src="@Url.Content("~/Images/about/people2.jpg")" alt="team member2">
                </div>
                <div class="card-body">
                    <p class="card-text" style="text-align:center; font:bolder;">    Yinig Ye</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 portfolio-item">
            <div class="card h-100">
                <div class="imagecontainer">
                    <img class="img" src="@Url.Content("~/Images/about/people3.jpg")" alt="team member3"></a>
                </div>
                <div class="card-body">
                    <p class="card-text" style="text-align:center; font:bolder">     Yuanbo Liang</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 portfolio-item">
            <div class="card h-100">
                <div class="imagecontainer">
                    <img class="img" src="@Url.Content("~/Images/about/people4.jpg")" alt="team member4">
                </div>
                <div class="card-body">
                    <p class="card-text" style="text-align:center; font:bolder">     Tanveer Siddiquee</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

