﻿
@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">

    Community Mental Health Statistics
        
 </h2>

<div class="barcontainer">
    <div align=center>
        <img align="middle" src="~/Images/data/bar.jpg">
    </div>
    <p style="text-align:justify; font-size:larger">This bar graph is a comparison of some basic mental disorders in young university students in Australia diagnosed in the year 2015 – 2016.</p>
    <p style="text-align:justify; font-size:larger">This graph shows where Victoria stands against in mental health issues compared to the national data.</p>
    <p style="text-align:justify; font-size:larger">The greatest reported case on mental health issue is Depression followed by personality disorders, behavioral disorder, anxiety, adjustment disorder, eating and affective disorders. </p>
</div>
<div class="piecontainer">
    <br />
    <br />

    <div align=center>
        <img align="middle" src="~/Images/data/pie.jpg">
    </div>
    <p style="text-align:justify; font-size:larger">
        The pie chart shows the most common disorders diagnosed in Victoria, Australia.
    </p>
    <p style="text-align:justify; font-size:larger">
        The data shows depression is the most common form of mental illness.Among the mental health issues 73.04% is diagnosed with depression, which is very alarming.
    </p>
</div>
