﻿@{
    ViewBag.Title = "Home";
}

        <script>
            loopy()
            function loopy() {
                var flag = 0
                var sWord = ""
                while (flag == 0 && sWord != "MindU123") {
                    sWord = prompt("Please enter the password for the website.")
                }
                flag = 1;
                alert("Welcome to our website")
            }
    </script>
<!--Carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="@Url.Content("~/Images/banners/banner1.jpg")" alt="Mind U" style="width:100%;">
            <div class="carousel-caption">
                <h1>MindU</h1>
                <p style="font-size:x-large">You are not alone</p>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Images/banners/banner2.jpg")" alt="Mental Health" style="width:100%;">
            <div class="carousel-caption">
                <h1>Mental Health</h1>
                <p style="font-size:larger">We are here to help</p>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--/.Carousel-->
<!-- Page Content -->
<section class="services" id="services">
    <div class="container">
        <!-- Portfolio Section -->
        <h2 class="text-center text-uppercase text-secondary mb-0">Services</h2>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href='@Url.Action("Index", "Artspaces")'>
                        <img class="card-img-top" src="@Url.Content("~/Images/boxes/arts.jpg")" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href='@Url.Action("Index", "Sports")'><img class="card-img-top" src="@Url.Content("~/Images/boxes/sports.jpg")" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href='@Url.Action("Data", "Home")'><img class="card-img-top" src="@Url.Content("~/Images/boxes/statistics.jpg")" alt=""></a>
                </div>
                <div class="card">
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>
<!-- /.container -->
<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">MindU is a project aiming at helping people who are concerned with international students who are struggling with stress, anxiety and loneliness in VIC. </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">We provide art spaces, sports and mental health relevant information for you to help your international student friend  get engaged in a more bright world!!! </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Whether you are new to melbourne or a person who does not know how to help your international friend get out of negative mood, welcome to visit MindU to have fun and give feedback for our project.</p>
            </div>
        </div>
    </div>
</section>
