﻿@model IEnumerable<MindUV3.Models.Sports>

@{
    ViewBag.Title = "Sports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Custom scripts for pop-up-google-map-->
<script>
    function myFunction(addr) {
        //window.open("https://www.w3schools.com");
        window.open("https://www.google.com/maps/place/" + addr);
    }
</script>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Sports</h2>
            <p style="font-size:larger; text-align:justify;">Exercise has many benefits, not only for our physical health but also for our mental health. When we excercise our brain stimulates chemicals that improves our mood and parts of the brain responsible for memory and learning.</p>
            <p style="font-size:larger; text-align:justify;">Exercise helps us feel good because it releases chemicals like "endophins" and "serotonin" that improves our mood. It also helps us to get in touch with the real world, help to reduce feelings of loneliness and isolation.</p>
            <p style="font-size:larger; text-align:justify;">If we exercise regularly, it can reduce stress and symptoms of mental health conditions like depression, anxiety and help with recovery from mental health issues.</p>
        </div>
        <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <img class="img-circle" src="@Url.Content("~/Images/sports/sport_banner.jpg")" alt="Sport Banner" style="width:300px; height:300px;">
            </div>

        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Sport</li>
        </ol>
        <div style="align-items:center">
            <!--Foreach to list art spaces-->
            @foreach (var item in Model)
            {
                <!--row-->
                <div class="row" style="color:black; text-align:center">
                    <div class="col-lg-7" ">
                        <img class="img-thumbnail mb-md-0" src="@Url.Content("~/Images/sports/sport" + @item.SportId + ".jpg")" alt=@item.SportId width="650" height="300" />
                    </div>
                    <div class="col-lg-5" ">
                        <h3>@Html.DisplayFor(modelItem => item.Organisation)</h3>
                        <p>
                            @Html.DisplayFor(modelItem => item.Street), @Html.DisplayFor(modelItem => item.Suburb_Town), @item.State @Html.DisplayFor(modelItem => item.Postcode)
                        </p>
                        <p>Activity: @Html.DisplayFor(modelItem => item.Business_Category)</p>
                        <button class="btn btn-warning" onclick="myFunction('@item.Street, ' + '@item.Suburb_Town, ' + '@item.State ' +'@item.Postcode')">Go to Map</button>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
            }
        </div>
    </div>
        <!-- Pagination -->
        <div class="text-center mt-4">
            @if (ViewBag.Page > 0)
            {
                <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
                   class="btn btn-warning align-content-between">
                    Previous
                </a>
            }
            <a href="@Url.Action("Index", new { page = ViewBag.Page})"
               class="btn btn-warning align-content-between">
                1
            </a>
            <a href="@Url.Action("Index", new { page = ViewBag.Page + 1})"
               class="btn btn-warning align-content-between">
                2
            </a>
            @if (ViewBag.Page < ViewBag.MaxPage)
            {
                <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
                   class="btn btn-warning align-content-between">
                    Next
                </a>
            }
        </div>
 
<!-- /.container -->
